@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }



.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; } }

.logo{
  max-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
 top:0; left:0;
 width: 100%;
}

.navbar{
  font-family: 'Roboto Slab', serif;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1em;
  margin-top: 4px;
}

.um {
  font-size: 18px;
  text-decoration: none;
  margin-left: auto;
  margin-right: 1em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.index {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.kaupabutton {
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 3.7em;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #999;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

@media (max-width: 399px) {
  .kaupabutton {
    display: none;
    visibility: hidden;
     } }

.panta{
  margin-left: 26em;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 14em;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 1px #666;
  border-radius: 4px;
  background-color: #999;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.header {
  height: 20em;
  background:  url(bg-subpage.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
}


  .heading--one {
    word-break: break-word;
    font-family: 'Roboto Slab', serif;
    display: flex;
    max-width: 1200px;
    min-height: 10em;
    margin: 0 auto;
    align-items: center;
    font-size: 2em;
    color: white;
   }

  .heading--two {
    font-family: 'Roboto Slab', serif;
    margin-top: 5em;
    font-size: 1.6em;
 }

 @media (max-width: 400px) {
   .heading--two {
     margin-top: 2em; } }

  .heading--three {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
  }

  .text__p {
  margin-bottom: 20px;
  }

  .text__b {
    display: block;
    float: right;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5;
    margin-left: 5em;
    margin-right: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
      }

  @media (max-width: 599px) {
      .text__b {
        margin-left: 2.5em;
        margin-right: 0.5em;
        width: 260px;
        float: right;
         }}

    @media (max-width: 400px) {
        .text__b {
          margin-left: 0.5em;
          margin-right:0.5em;
          float: none; } }



  .author {
    margin-top: 2em;
    font-style: normal;
   font-size: 1rem;
  }


.buying {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
      }

       input[name=nafn] {
     width: 300px;
     }

     input[name = gender]{
       text-align: left;
     }


     .typeofpayment nafn{
       width: 300px;
     }

     .hlutur{
      margin-top: 10px;
     }

     .gildistimi{
       display: run-in;
     }

  .back{
    background-size: cover;
    background-color: rgb(64, 64, 64);
    width: 100%;
    border: none;
    margin-top: 5rem;
  }

  .width{
    max-width: 440px;
    margin: 0 auto;
  }
  .width2{
    max-width: 965px;
    margin: 0 auto;
  }



  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .greidsla{
    display: inline-block;
    justify-content: space-between;



    }


  .footer2{
    max-width: 1200px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    margin:0 auto;
    text-align: center;
    color: grey;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }


.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
  @media (min-width: 800px) {
    .card {
      display: flex; } }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
    @media (min-width: 800px) {
      .card__content {
        align-items: flex-start; } }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
    @media (min-width: 800px) {
      .card__img {
        height: 100%;
        min-width: 400px;
        object-fit: cover; } }
